<!-- Dialogue to open of the user presses the back (or forward) button in their browser. -->
<div id="backButtonPressed" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Return to the dashboard page?</h4>
      </div>
      <div class="modal-body">
        <p>We're sorry, but you cannot use your browser's forward or back button to navigate during a session. You may choose to return to the dashboard page or stay on this page. Don't worry, if you leave this session you can always return to pick up where you left off!</p>
      </div>
      <div class="modal-footer">
        <button id="dashboardRedirect" type ="button" class ="btn btn-primary" data-dismiss="modal">Take Me To The DashBoard Page</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>