<a href="#{{data.id}}_popup" type="button" class="btn btn-success addbtn" id="{{data.id}}_addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New</a>
<table class="item-table-header table" id="{{data.id}}_header">
    <thead>
      <tr>
      {% for header in data.headers %}
      	<th class="col-md-{{ data.colSize }}" id="{{data.id}}_headbutton_{{forloop.counter0}}">{{header}}<i class="fa fa-sort header-sort" id="{{data.id}}_headbutton_{{forloop.counter0}}_sortbtn" aria-hidden="true"></i></th>
      {% endfor %}
      </tr>
    </thead>
</table>
<div class="item-explorer">
	<table class="item-table-items table" id="{{data.id}}_items">
	    <tbody>
	     {% for row in data.rows %}
	      <tr>
	       {% for item in row %}
	        <td class="col-md-{{ data.colSize }} {{data.id}}_items_{{forloop.counter0}}">{{item}}</td>
	        {% endfor %}
	      </tr>
	      {% endfor %}
	    </tbody>
	 </table>
</div>