{% load cochlear_extras %}

<div id="moduleFilterDiv" class="panel panel-default">
	<div class="panel-heading">Table Filters</div>
	<div class="panel-body">
		{% for dropDown in data.dropDowns %}
		<div class="form-group drop-down">
			<label for="{% get_obj_at_index data.dropDownHeaderIDs forloop.counter0 %}">{% get_obj_at_index data.dropDownHeaders forloop.counter0 %}</label>
			<select class="form-control table-filter" data-table-id="{{data.id}}" id="{% get_obj_at_index data.dropDownHeaderIDs forloop.counter0 %}">
				{% for item in dropDown %}
				{% if forloop.first %}
				<option value="all">All</option>
				{% endif %}
				<option value="{{forloop.counter0}}">{{item}}</option>
				{% endfor %}
			</select>
		</div>
		{% endfor %}

		{% for subDrop in data.subDrops %}
		<div class="drop-down form-group">
			<label for="{% get_obj_at_index data.dropDownHeaderIDs forloop.counter0 %}">{% get_obj_at_index data.subDropHeaders forloop.counter0 %}</label>
			<select class="form-control table-filter" data-table-id="{{data.id}}" id="{% get_obj_at_index data.dropDownHeaderIDs forloop.counter0 %}-placeholder"></select>
			{% for list in subDrop %}
			<select class="form-control table-filter sub-drop" data-table-id="{{data.id}}" id="{% get_obj_at_index data.dropDownHeaderIDs forloop.parentloop.counter0 %}-{{forloop.counter0}}">
				{% for item in list %}
				{% if forloop.first %}
				<option value="all">All</option>
				{% endif %}
				<option value="{{forloop.counter0}}">{{item}}</option>
				{% endfor %}
			</select>
			{% endfor %}
		</div>
		{% endfor %}

		<input type="text" class="form-control table-search" id="{{data.id}}-search" placeholder="Search table">

	</div>
</div>

<table class="item-table-header table" id="{{data.id}}_header">
    <thead>
      <tr>
      {% for header in data.headers %}
      	<th class="col-md-{{ data.colSize }}" id="{{data.id}}_headbutton_{{forloop.counter0}}">{{header}}<i class="fa fa-sort header-sort" id="{{data.id}}_headbutton_{{forloop.counter0}}_sortbtn" aria-hidden="true"></i></th>
      {% endfor %}
      </tr>
    </thead>
</table>
<div class="item-explorer">
	<table class="item-table-items table" id="{{data.id}}_items">
	    <tbody>
	     {% for row in data.rows %}
	     <tr {% for id in data.dropDownHeaderIDs %} data-{{id}}="{% get_obj_at_index data.rowData  forloop.parentloop.counter0   forloop.counter0 %}" data-{{id}}-sub="{% get_obj_at_index data.rowSubData forloop.parentloop.counter0 forloop.counter0  %}"{% endfor %}>
	    	{% for item in row %}
	       	<td class="col-md-{{ data.colSize }} {{data.id}}_items_{{forloop.counter0}}">{{item}}</td>
	        {% endfor %}
	     </tr>
	      {% endfor %}
	    </tbody>
	 </table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		{% if data.dropDowns %}

		//TODO: this is in bad need of optimization
		$('[data-table-id="{{data.id}}"]').change( function() {
			t0 = performance.now();
			var tableID = $(this).attr('data-table-id');
			$('td[class*="'+ tableID +'_items_"]').parent('tr').show();
			$(this).closest('div.panel-body').find('select:visible').each(function() {
				var filter = $(this).val();
				var dropID = $(this).attr('id'); //which drop down was selected
				//Hide all sub dropdowns
				$('[id*="' + dropID + '-"][data-table-id="' + tableID + '"]').hide()
				if (filter != "all") {
					if ($(this).hasClass("sub-drop")) {
							dropID = dropID.split('-')
							dropID = dropID[dropID.length - 2];
						$('td[class*="'+ tableID +'_items_"]:visible').parent('tr').each(function() {
							subFilter = $(this).attr('data-' + dropID + '-sub').split(',')[$('#' + dropID + '[data-table-id="' + tableID + '"]').val()]
							if (!(subFilter.indexOf(filter) >= 0)) { $(this).hide(); }
						});
					} else { //if this is not a sub-drop
						$('td[class*="'+ tableID +'_items_"]:visible').parent('tr[data-' + dropID + ']').not('[data-' + dropID + '*="' + filter + '"]').hide();
						$('#'+ dropID + '-' + filter + '[data-table-id="' + tableID + '"]').show().css('display','block');
					}
				} else {
					$('[id*="' + dropID + '-placeholder"][data-table-id="' + tableID + '"]').show()
				}
			});
			var searchQ = $('#{{data.id}}-search').val();
			if (searchQ == "") {
				$('#{{data.id}}_items>tbody>tr').removeClass("not-search-result");
				$('#{{data.id}}_items>tbody>tr').removeClass("search-result");
			} else {
				$('#{{data.id}}_items>tbody>tr').removeClass("not-search-result");
				$('#{{data.id}}_items>tbody>tr').removeClass("search-result");
				$('#{{data.id}}_items>tbody>tr[style!="display: none;"]>td:contains("' + searchQ + '")').parent('tr').addClass("search-result");
				$('#{{data.id}}_items>tbody>tr>td').parent('tr').not('[class*="search-result"]').addClass("not-search-result");
			}
			t1 = performance.now();
			console.log("time to filter: " + (t1 - t0));
		});
		{% endif %}

		
		//setup before functions
		var typingTimer;                //timer identifier
		var doneTypingInterval = 750;  //time in ms

		//on keyup, start the countdown
		$('#{{data.id}}-search').keyup(function(){
		    clearTimeout(typingTimer);
		    typingTimer = setTimeout(doneTyping, doneTypingInterval);
		});

		//user is "finished typing," do something
		function doneTyping () {
		    console.log("done typing");
		    var searchQ = $('#{{data.id}}-search').val();
			if (searchQ == "") {
				$('#{{data.id}}_items>tbody>tr').removeClass("not-search-result");
				$('#{{data.id}}_items>tbody>tr').removeClass("search-result");
			} else{
				$('#{{data.id}}_items>tbody>tr').removeClass("not-search-result");
				$('#{{data.id}}_items>tbody>tr').removeClass("search-result");
				$('#{{data.id}}_items>tbody>tr[style!="display: none;"]>td:contains("' + searchQ + '")').parent('tr').addClass("search-result");
				$('#{{data.id}}_items>tbody>tr>td').parent('tr').not('[class*="search-result"]').addClass("not-search-result");
			};
		}



/*		$('#{{data.id}}-search').keyup(function(){
			var searchQ = $(this).val();
			if (searchQ == "") {
				$('#{{data.id}}_items>tbody>tr').removeClass("not-search-result");
				$('#{{data.id}}_items>tbody>tr').removeClass("search-result");
			} else{
				$('#{{data.id}}_items>tbody>tr').removeClass("not-search-result");
				$('#{{data.id}}_items>tbody>tr').removeClass("search-result");
				$('#{{data.id}}_items>tbody>tr[style!="display: none;"]>td:contains("' + searchQ + '")').parent('tr').addClass("search-result");
				$('#{{data.id}}_items>tbody>tr>td').parent('tr').not('[class*="search-result"]').addClass("not-search-result");
			};

		});*/
	});
</script>
