{% load staticfiles %}

<div id="soundfiles_popup" class="white-popup-block mfp-hide">
	<div class="popup-content">
	<center>
		<div id="sound_page1">
			
				<h4>What is the source of this sound?</h4>
				<p>Start typing to bring up source names.</p>
				<p><i>(This could be the name of the person, or an environment, or some identifier to attach to this sound)</i></p>
				<input type="text" class="form-control" name="source_name" id="source_name" placeholder=""><br/>
				<div id="sourcechoice_list_div">
				</div>
			
		</div>
		<div id="sound_page2" class="hidden_page">
			<h4 id ="upload_header">Upload sound files:</h4>
			<p>You can close this window once the files have been uploaded.</p>
			<!-- Dropzone drag & drop upload -->
			<form action='{% url "cochlear:uploadSound" %}' class="dropzone" id="soundDropzone">
				{% csrf_token %}
				<input type="hidden" name="source_id" id="source_id" value="-1">
				<input type="hidden" name="source_name" id="source_name_upload" value="">
			</form>
			<!-- End drag and drop -->
		</div>
		<div id="sound_page3" class="hidden_page">
			<h4>Enter New Speaker Info:</h4>
			<p>Name</p>
			<input type="text" class="form-control" name="new_source_name" id="new_source_name" placeholder=""><br/>
			<p>Display Name</p>
			<input type="text" class="form-control" name="new_source_diplay_name" id="new_source_display_name" placeholder=""><br/>
			<p>Notes</p>
			<textarea type="text" class="form-control" name="new_source_notes" id="new_source_notes"></textarea><br/>
			<button class="btn btn-primary" id ="page3_submit_btn">Submit</button>
		</div>
	</center>
	</div>
</div>
<script type="text/javascript">
	//Set the dropzone options 
	Dropzone.options.soundDropzone = {
		dictDefaultMessage: "Drag & drop files (Or click in this window) to upload!"
	}
	//Initialize the popup 
	$('#soundfiles_addbtn').magnificPopup({type:'inline',disableOn:function(){return true},callbacks: {close:function(){
		//Reset everything
		console.log("Close")
		if ($('#soundDropzone>input#source_name_upload').val() != "" || $('#soundDropzone>input#source_id').val() != "-1") RefreshData();
		$('#sound_page1').css("display","block");
		var pages = ["page2","page3"]
		for(var i=0;i<pages.length;i++) $('#sound_' + pages[i]).css("display","none");
		// Clear info for sound_page1
		$('#sourcechoice_list_div').empty()
		$('#source_name').val("")
		// Clear info for sound_page3
		$('#new_source_name').val("")
		$('#new_source_display_name').val("")
		$('#new_source_notes').val("")
		//Empty the dropzone
		var fileChildren = $('#soundDropzone').children();
		//The first one is the csrf token, so we leave that untouched
		//The second is the source id
		var csrfToken = fileChildren[0];
		var sourceField = fileChildren[1];
		var sourceNameField = fileChildren[2];
		$('#soundDropzone').empty();
		$('#soundDropzone').append(csrfToken);
		$('#soundDropzone').append(sourceField); 
		$('#soundDropzone').append(sourceNameField); 

		}
	}})
	////On key press, get and display list of matched sources. 
	//Otherwise, say none is found and give option to create one.
	var animationTime = 250;
	$('#source_name').on('input propertychange paste',function(){
		function success(data){

			//Empty the list
			$('#sourcechoice_list_div').empty()
			//Fill it with the choices
			for(var i=0;i<data.length;i++){
				var sourceName = data[i].name;
				var fileCount = data[i].file_count;
				var sourceID = data[i].id;
				$('#sourcechoice_list_div').append('<button class="btn btn-primary page1sound_btn" data-sourceid='+ String(sourceID)+ ' data-sourcename="'+String(sourceName)+'" >'+sourceName+' ('+String(fileCount)+' sound files)'+'</button></br></br>')
			}
			//If the text entered is not empty, but the data is, offer to create a new one
			if($('#source_name').val() != "" && data.length == 0){
				var buttonText = "No source '" + $('#source_name').val() + '" found. Create one.'
				$('#sourcechoice_list_div').append('<button class="btn btn-warning page1sound_btn" data-sourceid='+ String(-1)+ ' data-sourcename='+encodeURI($('#source_name').val())+' >'+buttonText+'</button>')
			}
			$('.page1sound_btn').click(function(evt){
				//Set the data source id 
				var currentID = $(evt.target).data("sourceid");
				var sourceName = $(evt.target).data("sourcename");
				$('#source_id').val(currentID)
				if(currentID == -1) {
					// if the source id is -1, then that means we need to provide information for creating a new source
					// This occurs if the user searched for a source that did not exist and chose to create a new source 
					// Display the page for submitting a new source
					$('#new_source_name').val(decodeURI($(evt.target).data("sourcename")))
					$('#sound_page1').fadeOut(animationTime,null,function(){
						$('#sound_page3').fadeIn(animationTime)
					})
					$('#page3_submit_btn').click(function(event){
						// Submit information for creating a new source
						$('#source_name_upload').val($('#new_source_name').val())
						$.post("{% url 'cochlear:createSoundSource' %}",{csrfmiddlewaretoken: "{{ csrf_token }}",'source_name':$('#new_source_name').val(),'source_display_name':$('#new_source_display_name').val(),'source_notes':$('#new_source_notes').val()}).fail(fail);
						// Bring up the dropzone page
						$('#sound_page3').fadeOut(animationTime,null,function(){
							$('#upload_header').html("Upload sound files for source " + $('#new_source_name').val() + ":")
							$('#sound_page2').fadeIn(animationTime)
						})
					})
				} else{
					// If the source ID is not -1, no need to provide any info other than the id
					// This occurs because the user searched for a source that did exist and chose that source
					$('#upload_header').html("Upload sound files for source " + sourceName + ":")
					$('#sound_page1').fadeOut(animationTime,null,function(){
						$('#sound_page2').fadeIn(animationTime)
					})
				}
			})
			
		}
		function fail(data){
			console.log("Error!")
			console.log(data)
		}
		searchQ = $('#source_name').val()
		$.get("{% url 'cochlear:getSoundSources' %}",{'name':searchQ},success).fail(fail)
	})

 
    
</script>