#apps-menu-nav-btn {
	display: none !important;
}

#hipercic-banner {
	padding: 10px;
}

#hipercic-banner h2 {
	font-size: 52px;

}

#hipercic-banner a {
	margin-left: 20px;
}
#hipercic-banner ul {
	margin-top: 20px;
}

#user-tools>a[href="/dashboard/"] {
	display: none;
}

.page-title {
  text-align: center;
}
.subtitle {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.btn-secondary {
  color:black;
}

.dropdown-menu>li:hover {
	cursor: pointer;
}

.item-explorer {
	max-height: 300px;
	overflow-y: scroll;
	border-bottom: #ECECEC solid 4px;
	border-left: #ECECEC solid 4px;
}

.item-explorer>table {
	width: 100%;
}

.item-explorer>table>tbody>tr>td {
	max-width: 0;
	text-overflow: ellipsis;

  	/* Required for text-overflow to do anything */
  	white-space: nowrap;
  	overflow: hidden;
}

.item-table-header {
	margin-bottom: 0px;
	background: #ECECEC;
}
.item-table-header>thead>tr>th {
	border-bottom: none;
}
.item-table-header>thead>tr>th:hover {
	background-color: #F7F7F7;
	cursor: pointer;
}

.header-sort {
	float: right;
}

.upload-new-icon{
	color: white;
	padding-right: 5px;
}

.radio-inline {
	font-size: 14px;
}

.moreInfo {
	cursor: pointer;
	margin-left: 10px;
 	font-size:20px;
  	color: darkgrey;
}

.moreInfo:hover {
	color: grey;
}

.search-result {
	background-color: lightgoldenrodyellow;
}

.not-search-result {
	display: none !important;
}

.table-filter {
	width:175px;
}

.table-search {
	width:200px;
	display: inline-block;

}

.sub-drop {
	display: none;
}

.drop-down {
	display: inline-block;
	margin-right :10px;
}

.inline {
	display: inline-block;
}

#helpButton {
	cursor: pointer;
	float: right;
	margin-right:20px;
	margin-top: 20px;
 	font-size:28px;
  	color: #CD9B37;
}

#helpButton:hover {
	color: #b88a2e;
}


#moduleFilterDiv {
	margin-bottom: -10px;
	border: #ECECEC solid 4px;
	border-radius: 0px;
}
#moduleFilterDiv .panel-heading {
	background-color: #ECECEC;
	font-weight: bold;
	padding: 8px;
}

input[name="moduleTypeFilter"] {
	margin-bottom: 10px;
}