#apps-menu-nav-btn {
	display: none !important;
}

#hipercic-banner {
	padding: 10px;
}

#hipercic-banner h2 {
	font-size: 52px;

}

#hipercic-banner a {
	margin-left: 20px;
}
#hipercic-banner ul {
	margin-top: 20px;
}

.page-title {
  text-align: center;
}
.subtitle {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.btn-secondary {
  color:black;
}

.item-explorer {
	max-height: 300px;
	overflow-y: scroll;
	border-bottom: #ECECEC solid 4px;
	border-left: #ECECEC solid 4px;
}
.item-table-header {
	margin-bottom: 0px;
	background: #ECECEC;
}
.item-table-header>thead>tr>th {
	border-bottom: none;
}
.item-table-header>thead>tr>th:hover {
	background-color: #F7F7F7;
	cursor: pointer;
}

.header-sort {
	float: right;
}

.upload-new-icon{
	color: white;
	padding-right: 5px;
}

#helpButton {
	cursor: pointer;
	float: right;
	margin-right:20px;
	margin-top: 20px;
 	font-size:28px;
  	color: #CD9B37;
}

#helpButton:hover {
	color: #b88a2e;
}