#hipercic-banner h2 {
  font-size: 50px
}
#hipercic-banner {
  padding: 10px
}

.page-title {
  text-align: center;
}
.subtitle {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.btn-secondary {
  color:black;
}

.item-explorer {
	max-height: 300px;
	overflow-y: scroll;
	border-bottom: #DEDEDE dotted 4px;
	border-left: #DEDEDE dotted 4px;
}
.item-table-header {
	margin-bottom: 0px;
	background: #ECECEC;
}
.item-table-header>thead>tr>th {
	border-bottom: none;
}
.item-table-header>thead>tr>th:hover {
	background-color: #F7F7F7;
	cursor: pointer;
}

.header-sort {
	float: right;
}

.upload-new-icon{
	color: white;
	padding-right: 5px;
}

#helpButton {
	cursor: pointer;
	display: none;
	float: right;
	margin-right:20px;
	margin-top: 10px;
 	font-size:25px;
  	color: #CD9B37;
}