button {
	margin-right: 10px;
}

h4 {
	margin-top: 20px;
}

p {
	font-size:14px;
}

select {
	max-width: 347px;
}

.addbtn {
	margin-bottom: 5px;
}

.module-header {
	margin-top: 0px;
}

.panel-default {
	margin-top: 20px;
}

.myrow {
	text-align: center;
}


[id^="addSpeechBtn"]:focus, [id^="addSoundBtn"]:focus {outline:0;}

[id^="addSpeechDiv"], [id^="addSoundDiv"] {
	margin-top: 20px;
}

[id^="addSpeechDiv"] {
	display: none;
}

[id^="addSoundDiv"]{
	display: none;
}

#textChoiceInput, #existingSpeech, #existingSound {
	margin-right:20px;
	margin-bottom: 10px;
	max-width: 347px;
	display: inline-block;
}