#listen {
	text-align:center;
	margin:20px;
}

#incorrect {
	display:none;
}

#correct {
	display:none;
}

#submitButton {
	margin-top:22px;
}

#next{
	display:none;
	text-align:center;
}

.glyphicon-volume-up {
  color:white;
  font-size:20px;
  vertical-align:-3px;
}