#listen {
	text-align:center;
	margin:20px;
}

#incorrect {
	display:none;
}

#correct {
	display:none;
}

#submitButton {
	margin-top:22px;
}
/*.vertical-centered {
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}*/