.white-popup-block {
	background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
    height: 400px;
}

#speakerchoice_list_div {
	height: 200px;
	overflow-y: scroll;
}

.hidden_page {
	display: none;
}

#closedquestionpopup_items tr:hover td{
    color:white;
    cursor: pointer;
}

#closedquestionpopup_items tr:hover{
    background-color:#0077FF;
}