.row {
  text-align: center
}

button {
  margin-left: 10px;
  margin-right:10px;
  margin-top: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.vertical-centered {
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(75%);
}