button {
	margin-right: 10px;
}

h4 {
	margin-top: 20px;
}

p {
	font-size:14px;
}

.addbtn {
	margin-bottom: 5px;
}

.module-header {
	margin-top: 0px;
}

.panel-default {
	margin-top: 20px;
}

.popover-title {

	font-size: initial;
}

.popover-content {
	font-size: smaller;
}

.myrow {
	text-align: center;
}

[id^="addSpeechDiv"], [id^="addSoundDiv"] {
	margin-top: 20px;
}

.inpBox {
	margin-right:20px;
	margin-bottom: 10px;
	max-width: 347px;
	display: inline-block;
}
