
button {
  margin-left: 10px;
  margin-right:10px;
  margin-top: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.vertical-centered {
  position: relative;
  top: 50%;
  transform: translateY(75%);
}

.glyphicon-volume-up {
  color:white;
  font-size:20px;
  vertical-align:-3px;
}

.correct-symbol {
  font-size: 25px;
  display:none;
  color:green;
}

.incorrect-symbol {
  font-size: 25px;
  display:none;
  color:red;
}

#ready {
  display: none;
}
