{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/index.css' %}" rel="stylesheet">


<div class="container"><!-- This is a bootstrap class -->
		<h1> Welcome, {{name}}! </h1>
		<div class="progress">
			<div id ="progressBar" class="progress-bar progress-bar-striped active" role="progressbar"
		  aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentComplete}}%;">
			<span>{{sessions}} out of 4 sessions completed this week</span>
			</div>
		</div>
		<div class="row">
		{% if activeSessionFlag %}
	   	<a href = "{% url 'cochlear:goToNextModule' %}">
				<button id = "startTraining" type="button" class="btn btn-success btn-lg">Continue your current session</button>
	    </a>
	    {% else %}
	    <a href = "{% url 'cochlear:startNewSession' %}">
				<button id = "startTraining" type="button" class="btn btn-primary btn-lg">Start a new training session</button>
	    </a>
	    {% endif %}
	    <a href = "{% url 'cochlear:history' %}" >
	      <button id = "history" type="button" class="btn btn-secondary btn-lg">View training history</button>
	    </a>
		</div>
</div>
<br>

{% endblock %}
