{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/index.css' %}" rel="stylesheet">

<span id="helpButton" class="glyphicon glyphicon-question-sign"></span>
<div class="container"><!-- This is a bootstrap class -->
	<h1> Welcome, {{cochlearUser.first_name}}! </h1>
	<div class="progress">

		{% if percentComplete == 100 %}
		<div id ="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentComplete}}%;background-color:#5cb85c;">
		<span>Great job, all four sessions are completed this week!</span>
		{% elif sessions > 4 %}
		<div id ="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentComplete}}%;background-color:#5cb85c;">
	  	<span>{{sessions}} out of 4 sessions completed this week</span>
		{% else %}
		<div id ="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentComplete}}%;">
	  	<span>{{sessions}} out of 4 sessions completed this week</span>
	  	{% endif %}
		</div>
	</div>
	<div class="row">
	{% if sessionFlag == 0 %}
		<span id="noSessions"><span class="glyphicon glyphicon-lock" style="color:#CD9B37"></span> no new sessions avaiable at this time</span>
    {% elif sessionFlag == 1 %}
	<button id = "startSession" type="button" class="btn btn-primary btn-lg">start a new training session</button>
    {% else %}
    <a href = "{% url 'cochlear:goToNextModule' %}">
		<button id = "continueSession" type="button" class="btn btn-success btn-lg">continue your current session</button>
    </a>
    {% endif %}
    	<a href = "{% url 'cochlear:history' %}" >
	    	<button id = "history" type="button" class="btn btn-secondary btn-lg">view training history</button>
	    </a>
			{% if isManager %}
			<a href = "{% url 'cochlear:dashboard' %}" >
				<button id = "dashboard" type="button" class="btn btn-secondary btn-lg">manager dashboard</button>
			</a>
			{% endif %}
    </div>


	<!-- Modal -->
	<div id="24HourWarning" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Are you sure you want to start a new session?</h4>
	      </div>
	      <div class="modal-body">
	        <p>It looks like less than 24 hours have passed since you completed your last session. We recommend that you get some sleep between sessions. Click "Yes, Start Session" to affirm that you have slept and would like to start a new session.</p>
	      </div>
	      <div class="modal-footer">
	        <button id="confirmSession" type="button" class="btn btn-primary" data-dismiss="modal">Yes, Start Session</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>

	  </div>
	</div>

</div>
<br>

<script type="text/javascript">
	$(document).ready(function(){
		// enable the bootstrap popover
		var dashboardHelp = 'Welcome to your dashboard page! From here you can see how many sessions you have completed this week. You can also start/contiue a session or navigate to the training history page. We recommend that you complete four sessions a week. A week starts as soon as you begin your first of four training sessions. A week ends exactly seven days later. Click ? to close message.'
	    $('body').popover({title:"Help: Dashboard", content:dashboardHelp, selector:"#helpButton", placement:"left", trigger: "click"});
	    // If this is the user's first time here, display the help message
	    {% if cochlearUser.current_week_start_date == null %}
		setTimeout(function(){
			$('#helpButton').click();
		}, 500);
		{% endif %}

		$("#startSession").click(function(event) {
			if({{recentSessionFlag}}) {
				$("#24HourWarning").modal({'show': true});
			} else {
				window.location.replace("{% url 'cochlear:startNewSession' %}");
			}
		});

		$("#confirmSession").click(function(event){
			window.location.replace("{% url 'cochlear:startNewSession' %}");
		});
	});
</script>

{% endblock %}
