{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/manager-dashboard.css' %}" rel="stylesheet">
<!-- Include external alphanumeric sorting for strings -->
<script type="text/javascript" src="{% static 'cochlear/js/alphanum.js' %}"></script>
<!-- Magnific Popup core CSS file -->
<link href="{% static 'cochlear/magnific-popup.css' %}" rel="stylesheet">
<!-- Magnific Popup core JS file -->
<script src="{% static 'cochlear/js/jquery.magnific-popup.min.js' %}"></script>
<link href="{% static 'cochlear/popup.css' %}" rel="stylesheet">
<!-- include once per page where Dropzone is used -->
<script src="{% static 'cochlear/js/dropzone.js' %}"></script>
<link href="{% static 'cochlear/dropzone.css' %}" rel="stylesheet">
<!-- Datatables plugin. include once per page where it is used -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/r-2.1.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/r-2.1.0/datatables.min.js"></script>

<div class="container"><!-- This is a bootstrap class -->
	<h3> {{welcome_msg}}, {{name}}! </h3>
	<hr>

	<center><h2>Get Data</h2></center>
	<h3>Download as a CSV</h3>

	<div class="form-group inline">
		<label for="csvUserOptions">User</label>
		<select class="form-control" id="csvUserOptions">
			{% for username, usernameRegex in csvUserOptions %}
			<option value="{{usernameRegex}}">{{username}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group inline">
		<label for="csvOptions">Module</label>
		<select class="form-control" id="csvOptions">
			{% for option in csvOptions %}
			<option value="{{forloop.counter0}}">{{option}}</option>
			{% endfor %}
		</select>
	</div>
	<button class="btn btn-primary select-button" id="csvDownload"> Download CSV </button>
	
	{% if isAdmin %}
		<center><h2>Manage Users</h2></center>
		<h3>Add a manager</h3>
		<div class="form-group inline">
		  <select class="form-control" id="managerOptions">
		  		{% for user in userOptions %}
				<option value="{{user.username}}">{{user.username}}</option>
				{% endfor %}
		  </select>
		</div>
		<button class="btn btn-primary select-button" id="addManager"> Add Manager </button>
		{% include "cochlear/embeds/big_table.html" with data=userList %}
		{% include "cochlear/embeds/speechfiles_popup.html" %}
	{% endif %}

	<center><h2>Speech & Sound</h2></center>
	<h3>Speech Files</h3>
	<a href="#speechfiles_popup" type="button" class="btn btn-success addbtn" id="speechfiles_addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New</a>
	{% include "cochlear/embeds/big_table.html" with data=speechFileList %}
	{% include "cochlear/embeds/speechfiles_popup.html" %}

	<h3>Speakers</h3>
	{% include "cochlear/embeds/big_table.html" with data=speakerFileList %}

	<h3>Sound Files</h3>
	<a href="#soundfiles_popup" type="button" class="btn btn-success addbtn" id="soundfiles_addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New</a>
	{% include "cochlear/embeds/big_table.html" with data=soundFileList %}
	{% include "cochlear/embeds/soundfiles_popup.html" %}

	<h3>Sound Sources</h3>
	{% include "cochlear/embeds/big_table.html" with data=sourceFileList %}

	<center><h2>Training Modules</h2></center>
	<h3>Closed Set Text</h3>
	<p>A test sound with closed set, text-based responses.</p>
	<a href="{% url 'cochlear:closedsettextAdd' %}" type="button" class="btn btn-success addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New</a>
	{% include "cochlear/embeds/big_table.html" with data=closedSetText %}

	<h3>Open Set</h3>
	<p>A test sound with an open-set response.</p>
	<a href="{% url 'cochlear:opensetAdd' %}" type="button" class="btn btn-success addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New</a>
	{% include "cochlear/embeds/big_table.html" with data=openSet %}

	<h3>Speaker Identification</h3>
	<p>An unknown speaker that must be identified after listening to a set of known speakers.</p>
	<a href="{% url 'cochlear:speakeridAdd' %}" type="button" class="btn btn-success addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New</a>
	{% include "cochlear/embeds/big_table.html" with data=speakerid %}

	<br>

	<script type="text/javascript" src="{% static 'cochlear/js/file_list.js' %}"></script>
	<script type="text/javascript">
	function RefreshData(){
		//Refreshes the page. Called by each popup after it closes
		location.reload();
	}
	function fail(data) {
		console.log('Error!');
		console.log(data);
	}
	$('document').ready(function(){
		$('#csvDownload').click(function(){
			location.replace('{% url "cochlear:getUserDataCSV" %}' + $('#csvOptions').val() +'/' + $('#csvUserOptions').val() + '/');
		});
		$('#addManager').click(function(){
			$.post('{% url "cochlear:addManager" %}',{'newManager':$('#managerOptions').val(),'csrfmiddlewaretoken':'{{csrf_token}}'},RefreshData);
		});
	});
	</script>
</div>

{% endblock %}
