{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/index.css' %}" rel="stylesheet">


<div class="container"><!-- This is a bootstrap class -->
	<h3> {{welcome_msg}}, {{name}}! </h3>
	<hr>
	<center><h2>Sounds & Speakers</h2></center>
	<h3>Sound Files</h3>
	{% include "cochlear/file_list.html" with data=soundFileList %}
	<h3>Speakers</h3>
	{% include "cochlear/file_list.html" with data=speakerFileList %}

	<center><h2>Training Modules</h2></center>
	

	
	
	
</div>

{% endblock %}
