{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}

<!-- Load our stylesheet -->
<link href="{% static 'cochlear/opensetAdd.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'cochlear/js/alphanum.js' %}"></script>

<!-- Magnific Popup core JS file -->
<script src="{% static 'cochlear/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Magnific Popup core CSS file -->
<link href="{% static 'cochlear/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'cochlear/popup.css' %}" rel="stylesheet">
<!-- include once per page where Dropzone is used -->
<script src="{% static 'cochlear/js/dropzone.js' %}"></script>
<link href="{% static 'cochlear/dropzone.css' %}" rel="stylesheet">

<div class ="container">

	<h1>Closed Set Text Modules</h1>
	<p>A test sound with closed set, text-based responses.</p>

	{% include "cochlear/embeds/file_list.html" with data=openSet %}
	<form id="modulesForm" action="{% url 'cochlear:opensetAdd' %}" method="post" enctype="multipart/form-data">
		<div id="modules">
			<div id="module_1" class="panel panel-default">
				<div class="panel-body">
					{% csrf_token %}
					<h2 class="module-header">Module 1</h2>
					<h4>Select a module type</h4>
					<label class="radio-inline"><input type="radio" name="moduleType_1" value="1">Meaningful Sentence</label>
					<label class="radio-inline"><input type="radio" name="moduleType_1" value="2">Anomalous Sentence</label>
					<label class="radio-inline"><input type="radio" name="moduleType_1" value="3">Word</label>
					<label class="radio-inline"><input type="radio" name="moduleType_1" value="4">Environmental</label>
					<label class="radio-inline"><input type="radio" name="moduleType_1" value="0">Other</label>
					<h4>Select an unknown speech or sound</h4>
					<button type="button" id="addSpeechBtn_1" class="btn btn-secondary">select speech</button>
					<button type="button" id="addSoundBtn_1" class="btn btn-secondary">select sound</button>
					<div id="addSpeechDiv_1">
						<input id="existingSpeech" name="speechFile_1" list="speech_choices" class="form-control" placeholder="Enter an existing speech file name"> 	
						<a href="#speechfiles_popup" type="button" class="btn btn-success addbtn" id="speechfiles_addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New Speech</a>
					</div>
					<div id="addSoundDiv_1">
						<input id="existingSound" name="soundFile_1" list="sound_choices" class="form-control" placeholder="Enter an existing sound file name">
						<a href="#soundfiles_popup" type="button" class="btn btn-success addbtn" id="soundfiles_addbtn"><i class="fa fa-plus upload-new-icon" aria-hidden="true"></i>Add New Sound</a>
					</div>
					<h4>Answer</h4>
					<input id="answer" name="answer_1" class="form-control" placeholder="Enter the correct response for this module"> 	

					<h4 id="keyWordsHeader">Key Words<span id="keywordsInfo_1" class="moreInfo glyphicon glyphicon-question-sign"></span></h4>
					<input id="keywords" name="keywords_1" class="form-control" placeholder="Enter each keyword separated by spaces">
				</div>
			</div>
		</div>
		<div class="row">
			<button id="submitForm" class="btn btn-primary">create all modules</button>
			<button id="addModule" type="button" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i> add module</button>
		</div>
	</form>
</div>
<br/>


<!-- Keeping datalists away from the form so that they are shared between all models -->
<datalist id="speech_choices">
	{% for speech in speech_choices %}
	<option value="{{speech}}"/>
	{% endfor %}
</datalist>

<datalist id="sound_choices">
	{% for sound in sound_choices %}
	<option value="{{sound}}"/>
	{% endfor %}
</datalist>

{% include "cochlear/embeds/soundfiles_popup.html" %}
{% include "cochlear/embeds/speechfiles_popup.html" %}
{% include "cochlear/embeds/formInvalidDialogue.html" %}

<script type="text/javascript" src="{% static 'cochlear/js/file_list.js' %}"></script>
<script type="text/javascript">

var moduleNum = 1;

// add click functionality to each of the buttons in a module so that each is treated separately
// Here we are using the .on() function to delegate events, which have the advantage of attaching event handlers to descendant
// elements, whether or not they exist
function clickifyModule(indx) {
	$("#modules").on("click",'#addSpeechBtn_' + indx, function () {
		$('#addSoundDiv_' + indx).hide();
		$('input[name=soundFile_' + indx + ']').val("");
		$('#addSoundBtn_' + indx).css("border","1px solid transparent")
		$('#addSpeechDiv_' + indx).show()
		$('#addSpeechBtn_' + indx).css("border","2px solid #555555");
	});

	$("#modules").on("click", '#addSoundBtn_' + indx, function () {
		$('#addSpeechDiv_' + indx).hide();
		$('input[name=speechFile_' + indx + ']').val("");
		$('#addSpeechBtn_' + indx).css("border","1px solid transparent");
		$('#addSoundDiv_' + indx).show();
		$('#addSoundBtn_' + indx).css("border","2px solid #555555");
	});
	keyWordsInfo = 'Enter each word separated by spaces. Group together alternate words and separate them by forward slashes. For example, "birch canoe slid/hid/bid down smooth planks". The user is allowed one typo (insertion, deletion, or substitution) when evaluating each keyword.'
	var popoverSettings = {title:"Keywords", title:'Keywords', content:keyWordsInfo, placement:"right", trigger: "click"};
	$("#keywordsInfo_" + indx).popover(popoverSettings);
}

function RefreshData(){
	//Refreshes the data. Called by each popup after it closes
	function success(data){
		// Refresh data lists
		function refreshDatalist(name, id) {
			$("#" + id).empty();
			names = data[name]["Names"];
			newOptions = "";
			for (i in names) {
				newOptions += '<option value="' + names[i] + '"/> ';
			}
			$("#" + id).append(newOptions);
		}
		refreshDatalist('speechFileList', 'speech_choices');
		refreshDatalist('soundFileList', 'sound_choices');
	}
	function fail(msg){
		console.log("Failed to refresh!", msg);
	}
	$.get('{% url "cochlear:refreshClosedSetTextAdd" %}',success).fail(fail);
}


function validateForm() {
	function validateTestSound() {
		for (var i =1; i<= moduleNum; i++) {
			var existingSpeech = $('[name="speechFile_' + i + '"]').val();
			var existingSound = $('[name="soundFile_' + i + '"]').val();
			var matchFound = false;
			if (existingSpeech == "") {
				$('#sound_choices').children('option').each(function() {
					if (existingSound == $(this).val()) matchFound = true;
				});
			} else {
				$('#speech_choices').children('option').each(function() {
					if (existingSpeech == $(this).val()) matchFound = true;

				});
			}
			if (!matchFound) return i;
		}
		return -1;
	}
	function validateModuleType() {
		for (var i =1; i<= moduleNum; i++) {
			ischecked = false;
			$("[name='moduleType_" + i +"']").each(function(){
				if ($(this).is(":checked")) ischecked = true;
			});
			if (!ischecked) return i;
		}
		return -1;
	}
	function validateTextInput(name) {
		for (var i =1; i<= moduleNum; i++) {
			if ($.trim( $("[name='"+ name +"_" + i + "']").val() ) == '') return i;
		}
		return -1
	}


	var validateTestSoundResult = validateTestSound();
	var validateModuleTypeResult = validateModuleType();
	var validateAnswerResult = validateTextInput('answer');
	var validateKeywordsResult = validateTextInput('keywords');

	if ( validateTestSoundResult != -1 ) {
		return "Please provide a valid sound/speech file for module " + validateTestSoundResult + ". To ensure the selection is valid, choose a file from the drop down of the input box.";
	} else if (validateModuleTypeResult != -1) {
		return "Please select a module type for module " + validateModuleTypeResult + ".";
	} else  if (validateAnswerResult != -1) {
		return "Please provide an answer for module " + validateAnswerResult + ".";
	} else if (validateKeywordsResult != -1) {
		return "Please provide keywords for module " + validateKeywordsResult + "."
	} else {
		return "validated";
	}
}

$(document).ready(function() {
	clickifyModule(moduleNum);

	$('#addModule').click(function(){
		moduleNum += 1;
		// Get a copy of the code for a module
		var $newModule = $("#module_1").clone(true);
		// Remove styling
		$newModule.find("div, button").attr("style", "");
		//remove input values
		$newModule.find("#existingSpeech, #existingSound, #keywords, #answer").val("");
		$newModule.find("input[type='radio']").prop("checked",false);
		//Remove event handlers
		$newModule.find("#keywordsInfo_1").remove()
		var keywordsPopover = '<span id="keywordsInfo_'+ moduleNum +'"" class="moreInfo glyphicon glyphicon-question-sign">'
		$newModule.find("#keyWordsHeader").append(keywordsPopover);
		// change the naming so that it is unique for each module
		$newModule.attr('id',"module_" + moduleNum);
		$newModule.find(".module-header").html("Module " + moduleNum);
		$newModule.find("input[name$='_1']").each(function() {
			$(this).attr("name", $(this).attr("name").slice(0,-1) + moduleNum);
		});
		$newModule.find("[id$='_1']").each(function(){
			$(this).attr('id', $(this).attr("id").slice(0,-1) + moduleNum);
		});

		$("#modules").append($newModule);
		clickifyModule(moduleNum);
	});

	$("#modulesForm").submit(function(event){
		// TODO: check for invalid form submission
		validation = validateForm()
		if (validation == "validated") {
			// do nothing
		} else {
			event.preventDefault(); // prevent form submission
			$("#errmsg").html(validation);
			$("#formInvalid").modal({'show':true});
		}
		// append moduleNum to form
		var input = $("<input>", { type: "hidden", name: "moduleNum", value: moduleNum }); 
		$('#modulesForm').append($(input));
	});

});
</script>
{% endblock %}