{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/openSet.css' %}" rel="stylesheet">

<span id="helpButton" class="glyphicon glyphicon-question-sign"></span>
<div class = "container">
    <div class="col-md-12" id="listen">
      <button id = "testSound" type = "button" class="btn btn-info btn-lg">
        {% if typeTrain == 2 %}
        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Listen to the word
        {% else %}
        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Listen to the sentence
        {% endif %}
      </button>
    </div>

    <div class="form-group col-md-11">
  		<label for="usr">Type what you hear in the box below (without punctuation, not case sensitive):</label>
  		<input id ="answer" type="text" class="form-control" id="usr">
	</div>
	<div id ="submitButton" class="col-md-1">
		<button id = "submit" type = "button" class="btn btn-primary">
        	Submit
    	</button>
    </div>

   	<div id="correct" class="container col-md-12">
	    <div class="panel panel-success">
	      <div id="correctHeader" class="panel-heading">Correct</div>
	      <div id="correctBody" class="panel-body">Panel Content</div>
	    </div>
    </div>
    <div id="incorrect" class="container col-md-12">
	    <div class="panel panel-warning">
	      <div id = "incorrectHeader" class="panel-heading">Incorrect</div>
	      <div id = "incorrectBody" class="panel-body">Panel Content</div>
	    </div>
    </div>

    <div id ="next" class="col-md-12">
      <a href = "{% url 'cochlear:goToNextModule' %}">
        <button type = "button" class="btn btn-primary btn-lg" style="margin-bottom:20px">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="color:white"></span> Proceed To The Next Training Module
        </button>
        </br>
        <a href = "{% url 'cochlear:openSet' open_set_module=open_set_module_id repeatFlag=1 order_id=order_id %}" >
          <button type = "button" class="btn btn-secondary btn-lg" style="margin-bottom:20px">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Repeat This Question
          </button>
        </a>
    </div>
</div>

{% include "cochlear/embeds/backbuttondialogue.html" %}
<script src="{% static 'js/backbuttondialogue.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/CSRF.js' %}"></script>
<script type="text/javascript">

var MIN_CORRECT_ACCURACY = 70;

var questionUnanswered = true;

// Display database error on console output
function addFail(failMessage) {
  console.log(failMessage.responseText);
}

// Measures the number of insertion, substitiution, deletion, and transposition operations necessary to match the given strings
// Taken from this post: http://stackoverflow.com/a/11958496
// This is an implementation of the Damerau–Levenshtein distance algorithm: https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance
var levDist = function(s, t) {
    var d = []; //2d matrix

    // Step 1
    var n = s.length;
    var m = t.length;

    if (n == 0) return m;
    if (m == 0) return n;

    //Create an array of arrays in javascript (a descending loop is quicker)
    for (var i = n; i >= 0; i--) d[i] = [];

    // Step 2
    for (var i = n; i >= 0; i--) d[i][0] = i;
    for (var j = m; j >= 0; j--) d[0][j] = j;

    // Step 3
    for (var i = 1; i <= n; i++) {
        var s_i = s.charAt(i - 1);

        // Step 4
        for (var j = 1; j <= m; j++) {

            //Check the jagged ld total so far
            if (i == j && d[i][j] > 4) return n;

            var t_j = t.charAt(j - 1);
            var cost = (s_i == t_j) ? 0 : 1; // Step 5

            //Calculate the minimum
            var mi = d[i - 1][j] + 1;
            var b = d[i][j - 1] + 1;
            var c = d[i - 1][j - 1] + cost;

            if (b < mi) mi = b;
            if (c < mi) mi = c;

            d[i][j] = mi; // Step 6

            //Damerau transposition
            if (i > 1 && j > 1 && s_i == t.charAt(j - 2) && s.charAt(i - 2) == t_j) {
                d[i][j] = Math.min(d[i][j], d[i - 2][j - 2] + cost);
            }
        }
    }

    // Step 7
    return d[n][m];
}

// Calculate how many of the user's words match the key words provided in an open set training module
// maxLevDistCorrect is the maximum Levenshtein distance between a user's entered word and a key word for the word to be counted as correct
var calcAccuracy = function(answer, keyWords,correctAnswer) {
    var maxLevDistCorrect = 1; 
    var keyWordsArr = keyWords.split(" ");
    var totalKeyWords = keyWordsArr.length;
    var userWords = answer.split(" ");
    var numCorrect = 0;
    if(keyWords == '') {
        if(levDist(answer.toLowerCase(),correctAnswer.toLowerCase()) <= 2) {
            return {percentCorrect:100, gradedAnswer:correctAnswer};
        } else {
            return {percentCorrect:0, gradedAnswer:correctAnswer};
        }
    }
    for (k in keyWordsArr) {
        //Check if a given key word or any of its alternates are maxLevDistCorrect away from the user's entered words
        var altWords = keyWordsArr[k].split("/");
        var altWordFound = false;
        for (i in altWords) {
            for (j in userWords) {
                if (levDist(altWords[i].toLowerCase(),userWords[j].toLowerCase()) <= maxLevDistCorrect) {
                    altWordFound = true;
                    // Color code the correct answer based on user accuracy. 
                    // Replace incorrect key words with red in HTML and replace correct key words with green text in html
                    var correctAnswer = correctAnswer.replace(altWords[i], '<span style="color:green;font-weight:bold">' + altWords[i] + '</span>');
                } else if (!(altWordFound)){
                    var correctAnswer = correctAnswer.replace(altWords[i], '<span style="color:red;font-weight:bold">' + altWords[i] + '</span>');
                }
            }
        }
        numCorrect += altWordFound ? 1 : 0
    }

    var perCorrect = Math.round( (numCorrect/totalKeyWords) * 100);
    return {percentCorrect:perCorrect, gradedAnswer:correctAnswer};
}


$( document ).ready(function() {
    // enable the bootstrap popover
    $('#helpButton').show()
    {% if typeTrain == 0 %}
    var dashboardHelp = 'This is a meaningful sentence training module. Listen to the sentence, then type what you hear. Do not use punctuation or capitalization. When you are ready for your response to be evaluated, click "Submit." Once you are finished, you may proceed to the next training module, or you may repeat this one. Click ? to close this message.'
    $('body').popover({title:"Help: Meaningful Sentence Training", content:dashboardHelp, selector:"#helpButton", placement:"left", trigger: "click"});
    {% elif typeTrain == 1 %}
    var dashboardHelp = 'This is an anomalous sentence training module. Listen to the sentence, then type what you hear. Do not use punctuation or capitalization. When you are ready for your response to be evaluated, click "Submit." Once you are finished, you may proceed to the next training module, or you may repeat this one. Click ? to close this message.'
    $('body').popover({title:"Help: Anomalous Sentence Training", content:dashboardHelp, selector:"#helpButton", placement:"left", trigger: "click"});
    {% elif typeTrain == 2 %}
    var dashboardHelp = 'This is a word training module. Listen to the word, then type what you hear. Do not use punctuation or capitalization. When you are ready for your response to be evaluated, click "Submit." Once you are finished, you may proceed to the next training module, or you may repeat this one. Click ? to close this message.'
    $('body').popover({title:"Help: Word Training", content:dashboardHelp, selector:"#helpButton", placement:"left", trigger: "click"});
    {% endif %}

  $("#dashboardRedirect").click(function(event){
    window.location.replace("{% url 'cochlear:index' %}");
  });

	$("#submit").click(function(event){
		if(questionUnanswered) {
            questionUnanswered = false;
            var answer = $('#answer').val();
			var correctAnswer = "{{correctAnswer}}";
            var keyWords = "{{keyWords}}";
            var accuracy = calcAccuracy(answer,keyWords, correctAnswer);

			if (accuracy.percentCorrect < MIN_CORRECT_ACCURACY) {
                if (keyWords == ''){
                    $("#incorrectHeader").html("<p>Not quite!</p>")
                } else {
                    $("#incorrectHeader").html("<p>Your response contained " + accuracy.percentCorrect + "% of the keywords for this question</p>");
                }
                $("#incorrectBody").html("<p><span style='font-weight:bold'>Your answer was:</span> " + answer + "</p><p><span style='font-weight:bold'>The correct answer was:</span> " + accuracy.gradedAnswer + "</p>");
                $("#incorrect").slideDown("swing").promise().done(function(){
                    $('#next').slideDown("swing");
                });
			} else {
                if(keyWords == '') {
                    $("#correctHeader").html("<p>Correct!</p>")
                } else {
                    $("#correctHeader").html("<p>Great job! Your response contained " + accuracy.percentCorrect + "% of the keywords for this question</p>");
                }
                $("#correctBody").html("<p><span style='font-weight:bold'>Your answer was:</span> " + answer + "</p><p><span style='font-weight:bold'>The correct answer was:</span> " + accuracy.gradedAnswer + "</p>");
                $("#correct").slideDown("swing").promise().done(function(){
                    $('#next').slideDown("swing");
                });
			}

            $.post("{% url 'cochlear:openSetCompleted' %}",{'order_id':{{order_id}},'isRepeat':{{repeatFlag}},'user_response':answer,'percentCorrect':accuracy.percentCorrect}).fail(addFail);
        }
	});
  
  var audio = new Audio("{{test_sound}}");
	$("#testSound").click(function(event){
		audio.play();
	});

});
</script>

{% endblock %}
