{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/openSet.css' %}" rel="stylesheet">

<div class = "container">
    <div class="col-md-12" id="listen">
      <button id = "testSound" type = "button" class="btn btn-info btn-lg">
        	<span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:white"></span> Listen to the {{typeOfSpeech}}
      </button>
    </div>

    <div class="form-group col-md-11">
  		<label for="usr">Type what you hear in the box below (without punctuation, not case sensitive):</label>
  		<input id ="answer" type="text" class="form-control" id="usr">
	</div>
	<div id ="submitButton" class="col-md-1">
		<button id = "submit" type = "button" class="btn btn-primary">
        	Submit
    	</button>
    </div>

   	<div id="correct" class="container col-md-12">
	    <div class="panel panel-success">
	      <div class="panel-heading">Correct</div>
	      <div id="correctBody" class="panel-body">Panel Content</div>
	    </div>
    </div>
    <div id="incorrect" class="container col-md-12">
	    <div class="panel panel-danger">
	      <div class="panel-heading">Incorrect</div>
	      <div id ="incorrectBody" class="panel-body">Panel Content</div>
	    </div>
    </div>

    <div id ="next" class="col-md-12">
      <a href = "{% url 'cochlear:goToNextModule' %}">
        <button type = "button" class="btn btn-primary btn-lg" style="margin-bottom:20px">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="color:white"></span> Proceed to the next training module
        </button>
        </br>
        <a href = "{% url 'cochlear:openSet' open_set_module=open_set_module_id repeatFlag=1 %}" >
          <button type = "button" class="btn btn-secondary btn-lg" style="margin-bottom:20px">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Repeat this question
          </button>
        </a>
    </div>
</div>

<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript">

//Need this CSRF block for ajax calls to work
  var csrftoken = $.cookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
///End CSRF block

var questionUnanswered = true;

// Returns true if two strings are off by at most two characters
function matchesAlmost(str1, str2) {
    if (str1.length != str2.length) {
        return false;
    }
    var same = 0;
    for (i = 0; i < str1.length; i++) {
        if (str1.charAt(i) == str2.charAt(i))
            same++;
    }
    return same >= (str1.length - 2);
}

// Display database error on console output
function addFail(failMessage) {
  console.log(failMessage.responseText);
}

$( document ).ready(function() {

	$("#submit").click(function(event){
		if(questionUnanswered) {
			var answer = $('#answer').val();
			var correctAnswer = "{{correctAnswer}}";
			if (matchesAlmost(correctAnswer.toLowerCase(), answer.toLowerCase())) {
				$("#correctBody").html("Correct! The answer was " + correctAnswer);
				$("#correct").slideDown("swing").promise().done(function(){
					$('#next').slideDown("swing");
				});
			} else {
				$("#incorrectBody").html("<p>Incorrect. Your answer was: " + answer + "</p><p>The correct answer was: " + correctAnswer + "</p>");
				$("#incorrect").slideDown("swing").promise().done(function(){
					$('#next').slideDown("swing");
				});
			}
			questionUnanswered = false;
		    if(!(Boolean({{repeatFlag}}))) { // If this is not a repeat, indicate that a module was completed
		      $.post("{% url 'cochlear:moduleCompleted' %}",{'user_attrib_id':{{user_attrib_id}}}).fail(addFail);
		    }
		}
	});

	$("#testSound").click(function(event){
		var audio = new Audio("{{test_sound}}");
		audio.play();
	});

});
</script>

{% endblock %}
