{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/posterdemo.css' %}" rel="stylesheet">

<div class = "container">
  <audio id="demoSound">
  	<source src="{{demoSpeech}}" type="audio/wav">
  </audio>
  <video id="demoVid" src="{{demoSpeech}}"></video>
  <button id="demoBtn" class="btn btn-primary">Play Sound</button>
</div>
<script type="text/javascript">
	var audio = document.getElementById('demoVid');
	$('#demoBtn').click(function(){
		audio.play();
	});
</script>
{% endblock %}
