{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/speaker.css' %}" rel="stylesheet">

<span id="helpButton" class="glyphicon glyphicon-question-sign"></span>
<div class = "container">
    <div class="col-md-12" id="test" style="text-align:center;display:none;">
      <button id = "test" type = "button" class="btn btn-info btn-lg" onclick='play_speaker(0)'>
        <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"></span> Listen To The Unknown Speaker
      </button>
    </div>
    <div style="height:100%;text-align:center">
      {% for speech in speaker_choices %}
        <div class="col-md-6" style="height:100%;">
          <button id = "choice_{{speech.id}}" type = "button" class="btn btn-primary btn-lg" onclick='play_speaker({{forloop.counter}})'>
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white;"></span> Listen to {{speech.speaker.display_name}}
          </button>
            <span id="correct_{{speech.id}}" class="glyphicon glyphicon-ok correct-symbol vertical-centered" aria-hidden="true"></span>
            <span id="incorrect_{{speech.id}}" class="glyphicon glyphicon-remove incorrect-symbol vertical-centered" aria-hidden="true"></span>
            <button id = "response_{{speech.id}}" type = "button" class="btn btn-primary btn-lg" style="display:none" onclick='checkAnswer("{{speech.id}}")'>
              <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"></span> The unknown speaker is {{speech.speaker.display_name}}
            </button>
        </div>
      {% endfor %}
      <div class="col-md-12" style="text-align:center">
        <button id = "ready" type = "button" class="btn btn-secondary btn-lg">Proceed to question</button>
      </div>
      <div id ="next" class="col-md-12" style="display:none;"">
      <a href = "{% url 'cochlear:goToNextModule' %}">
        <button type = "button" class="btn btn-secondary btn-lg">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="color:black"></span> Proceed To The Next Training Module
        </button>
        </br>
        <a href = "{% url 'cochlear:speaker' speaker_module=speaker_module_id repeatFlag=1 order_id=order_id %}" >
          <button type = "button" class="btn btn-secondary btn-lg" >
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Repeat This Question
          </button>
        </a>
      </div>
    </div>
  </div>

  <br>
{% include "cochlear/embeds/backbuttondialogue.html" %}
<script src="{% static 'js/backbuttondialogue.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/CSRF.js' %}"></script>
<script type="text/javascript">

// an integer (0 or 1) indicating if the training module was answered correctly
var answered_correctly;
//Switches to false once question is answered in order to disable button functionality
var questionUnanswered = true;

// Create arrays of ID's on which I want to perform the same operations on
var choiceIDs = [];
var responseIDs = [];
var speechAudio = [];
speechAudio.push(new Audio("{{unknown_speech.speech_file.url}}"))
// Populate these arrays and preload the audio
{% for speech in speaker_choices %}
  choiceIDs.push("choice_{{speech.id}}");
  responseIDs.push("response_{{speech.id}}");
  speechAudio.push(new Audio("{{speech.speech_file.url}}"));
{% endfor %}

//display database error on console output
function addFail(failMessage) {
  console.log(failMessage.responseText);
}

/* Pass in an array of html hidden (display:none) elements and their prefix (such as "#" for an ID)
and i=0. This function will be recursively called to display these elements according to
the speed and transition (for jquery animation "show") specified in speed and trans */
function slideIn(i, speed, trans, IDs, prefix) {
  $(prefix + IDs[i]).show(speed,trans);
  $(prefix + IDs[i]).promise().done(function(){
    // will be called when all the animations on the queue finish
    i = i + 1;
    if (i < IDs.length) {
      slideIn(i, speed, trans, IDs, prefix);
    }
  });
}

/* Display an X (if answer was incorrect) or check mark (if answer was incorrect)
next to the user's answer. show buttons for proceeding to the next training
module and retrying the current module */
function checkAnswer(choice_id) {
  if(questionUnanswered) {
    function success(data){
      iscorrect = data[0].iscorrect;
      // The speech id of the user's answer to this training module
      answered_correctly =  (String(iscorrect) == 'true') ? 1 : 0;
      if(answered_correctly){
        $("#correct_" + choice_id).show("fast","linear").css("display", "inline-block");;
      } else {
        $("#incorrect_" + choice_id).show("fast","linear").css("display", "inline-block");
      }

      questionUnanswered = false;
      var b = ["repeat","next"];
      $('#next').slideDown();
      $.post("{% url 'cochlear:speakerCompleted' %}",{'order_id':{{order_id}},'answered_correctly':answered_correctly,'user_response':choice_id,'isRepeat':{{repeatFlag}}}).fail(addFail);
    }
    $.get("{% url 'cochlear:isCorrectSpeaker' %}",{'module_id':{{speaker_module_id}},'speech_id':choice_id},success).fail(addFail)
  }
}

//Play audio for a speaker
function play_speaker(index) {
  speechAudio[index].play();
}

// Display unknown speaker and possible answer choices
$( document ).ready(function() {
    // enable the bootstrap popover
    var dashboardHelp = 'This is a talker identification training module. Listen to the speakers by clicking on their respective buttons. Try your best to memorize each speaker\'s voice, then click "Start Testing." Listen to the unknown speaker, then select who you think the unknown speaker is. When you are finished, you may proceed to the next training module, or you may repeat this one. Click ? to close this message.'
    $('body').popover({title:"Help: Talker Identification", content:dashboardHelp, selector:"#helpButton", placement:"left", trigger: "click"});

    $("#ready").click(function(event){
      $("#test").slideDown("swing");
      $("#ready").hide("swing").promise().done(function() {

        for(var i = 0; i <responseIDs.length; i++){
          $("#" + responseIDs[i]).show("swing");
        }
        //pause for number of milliseconds indicated in second argument of function, then execute code in callback
        setTimeout(function(){
          for(var i = 0; i < choiceIDs.length; i++){
            $("#" + choiceIDs[i]).hide("swing");
          }
        }, 400);
      });
/*      setTimeout(function() {
        $("#test").slideDown("swing");
        $("#ready").hide("swing");
      },800);*/
    })

});

</script>

{% endblock %}