{% extends "cochlear_base.html" %}

{% block cochlear-content %}

{% load staticfiles %}
<!-- Load our stylesheet -->
<link href="{% static 'cochlear/speaker.css' %}" rel="stylesheet">

<div class = "container">
  <br>
  <div class = "row">
    <div  id="test" style="text-align:center;display:none;">
      <button id = "test" type = "button" class="btn btn-info btn-lg" style="margin-bottom:40px" onclick='play_speaker("{{test_sound.speech_file.url}}")'>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:white"></span> Listen to the unknown speaker
      </button>
    </div>
  </div>
    <div style="height:100%;text-align:center">
      {% for speech in speaker_choices %}

        <div class="col-md-6" style="height:100%;margin-bottom:20px;">
          <button id = "choice_{{speech.id}}" type = "button" class="btn btn-info btn-lg" onclick='play_speaker("{{speech.speech_file.url}}")'>
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"></span> Listen to {{speech.speaker.name}}
          </button>
            <span id="correct_{{speech.id}}"class="glyphicon glyphicon-ok vertical-centered" aria-hidden="true" style="display:none;color:green"></span>
            <span id="incorrect_{{speech.id}}"class="glyphicon glyphicon-remove vertical-centered" aria-hidden="true" style="display:none;color:red"></span>
            <button id = "response_{{speech.id}}" type = "button" class="btn btn-primary btn-lg" style="display:none" onclick='checkAnswer("{{speech.id}}","{{speech.speaker.name}}","{{test_sound.speaker.name}}" )'>
              <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"></span> The unknown speaker is {{speech.speaker.name}}
            </button>
        </div>
      {% endfor %}
      <row>
        <div style="text-align:center">
          <button id = "ready" type = "button" class="btn btn-primary btn-lg" style="margin-top:20px">Start testing</button>
        </div>
      </row>
      <div id ="next" class="col-md-12" style="display:none">
      <a href = "{% url 'cochlear:goToNextModule' %}"
        <button type = "button" class="btn btn-primary btn-lg" style="margin-bottom:20px;margin-top:20px">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="color:white"></span> Proceed to the next training module
        </button>
        </br>
        <a href = "{% url 'cochlear:speaker' speaker_module=speaker_module_id repeatFlag=repeatFlag %}" >
          <button type = "button" class="btn btn-secondary btn-lg" >
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Repeat this question
          </button>
        </a>
      </div>
    </div>
  </div>

  <br>

<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript">

//Need this CSRF block for ajax calls to work
  var csrftoken = $.cookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
///End CSRF block

//Create arrays of ID's on which I want to perform the same operations on
var choiceIDs = [];
var responseIDs = [];
{% for speech in speaker_choices %}
  choiceIDs.push("choice_{{speech.id}}");
  responseIDs.push("response_{{speech.id}}");
{% endfor %}

var questionUnanswered = true;

/* Pass in an array of html hidden (display:none) elements and their prefix (such as "#" for an ID)
and i=0. This function will be recursively called to display these elements according to
the speed and transition (for jquery animation "show") specified in speed and trans */
function slideIn(i, speed, trans, IDs, prefix) {
  $(prefix + IDs[i]).show(speed,trans);
  $(prefix + IDs[i]).promise().done(function(){
    // will be called when all the animations on the queue finish
    i = i + 1;
    if (i < IDs.length) {
      slideIn(i, speed, trans, IDs, prefix);
    }
  });
}

/* Display an X (if answer was incorrect) or check mark (if answer was incorrect)
next to the user's answer. show buttons for proceeding to the next training
module and retrying the current module */
function checkAnswer(choice_id, answer, correctAnswer) {
  if(questionUnanswered){
    if(answer == correctAnswer){
      $("#correct_" + choice_id).show("fast","linear");
    } else {
      $("#incorrect_" + choice_id).show("fast","linear");
    }

    questionUnanswered = false;
    var b = ["repeat","next"];
    $('#next').slideDown();

    if(!(Boolean({{repeatFlag}}))) { // if this is not a repeat, indicate that a module was completed
      $.post("{% url 'cochlear:moduleCompleted' %}",{'user_attrib_id':{{user_attrib_id}}}).fail(addFail);
    }
  }
}

//display database error on console output
function addFail(failMessage) {
  console.log(failMessage.responseText);
}

//Play audio for a speaker
function play_speaker(speech_file) {
  var audio = new Audio(speech_file);
  audio.play();
}

// Display unknown speaker and possible answer choices
$( document ).ready(function() {
    $("#ready").click(function(event){
    $("#ready").hide("swing").promise().done(function(){
      $("#test").slideDown("swing").promise().done(function(){
        for(var i = 0; i <responseIDs.length; i++){
          $("#" + responseIDs[i]).show("swing");
        }
        //pause for number of milliseconds indicated in second argument of function, then execute code in callback
        setTimeout(function(){
          for(var i = 0; i < choiceIDs.length; i++){
            $("#" + choiceIDs[i]).hide("swing");
          }
        }, 400);
      });
    });
  })
});

</script>

{% endblock %}